<!DOCTYPE html>
<html lang="en">

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/main.css"><title>
    
      Contact Us | WorkerBee Tech Co-op
    
  </title><link rel="canonical" href="https://workerbeetech.coop/contact/">
  
  <meta name="description" content="{% include contact-page. html %}">
  <!-- Facebook Opengraph -->
  <meta property="og:title" content="Contact Us | WorkerBee Tech Co-op" />
  
  <meta property="og:url" content="https://workerbeetech.coop/contact/" />
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="WorkerBee Tech Co-op" />
  <meta property="og:description" content="{% include contact-page. html %}" />
  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary">
  
  <meta name="twitter:title" content="Contact Us | WorkerBee Tech Co-op" />
  
  <meta name="twitter:url" content="https://workerbeetech.coop/contact/" />
  <meta name="twitter:description" content="{% include contact-page. html %}" />
  <link rel="icon" type="image/png"
    href="assets/ico/favicon.png">
  <link rel="manifest" href="/site.webmanifest">
  <meta name="msapplication-TileColor"
    content="#fce4ac">
  <meta name="msapplication-TileImage" content="assets/ico/favicon.png">
  <meta name="theme-color"
    content="#fce4ac">

  <link rel="stylesheet" href="/assets/css/base.css">
  <script src="/assets/js/scroll.js"></script>


  
  <!-- Sitemap.xml -->
  <link rel="sitemap" type="application/xml" title="Sitemap"
    href="https://workerbeetech.coop/sitemap.xml" />
    <script>function initApollo(){var n=Math.random().toString(36).substring(7),o=document.createElement("script");
      o.src="https://assets.apollo.io/micro/website-tracker/tracker.iife.js?nocache="+n,o.async=!0,o.defer=!0,
      o.onload=function(){window.trackingFunctions.onLoad({appId:"67fd24b0bbf0a30021b2b5ec"})},
      document.head.appendChild(o)}initApollo();</script>
     <!-- Apollo widget begin -->
     <script
     type="text/javascript"
     src="https://assets.apollo.io/js/meetings/meetings-widget.js"
     onload='window.ApolloMeetings.initWidget({appId: "6807cc57bebb710021b22abf", schedulingLink: "48z-ktc-atm"})'
     defer
   ></script>
 <!-- Apollo widget end -->

  
</head>

  <body >
    <header class="site-header" role="banner">
  <div class="header-wrapper" style="background-color: #673f00">
    <div class="header-col header-col-1">
      <div class="logo-bee">
        <a href="/"><img src="..\assets\img\logo-bee-light.png"/></a>
      </div>
      <div class="title">
        <h1>
          <a href="/">WorkerBee Tech Co-op</a>
        </h1>
        <h2 class="slogan" style="color: #000000">
          Bee Kind. Bee Resilient. Bee Cooperative.
        </h2>
      </div>
    </div>
    <div class="header-col header-col-2">
      <div class="logo-flower">
        <img src="..\assets\img\header-flower-light.png" />
      </div>
      <div class="page-heading" >
        <h3>Contact Us</h3>
      </div>
    </div>
    <div class="header-col header-col-3">
      <div class="nav">
         
        

  <nav class="site-nav">
    <input
      type="checkbox"
      id="nav-trigger"
      class="nav-trigger" />
    <label for="nav-trigger">
      <svg
        viewBox="0 0 100 80"
        width="40"
        height="40">
        <rect width="100" height="20" />
        <rect
          y="30"
          width="100"
          height="20" />
        <rect
          y="60"
          width="100"
          height="20" />
      </svg>
    </label>

    <div class="trigger">
      
        
        
      
        
        
          <a class="page-link" href="/about/">About</a>
        
      
        
        
      
        
        
      
        
        
          <a class="page-link" href="/contact/">Contact Us</a>
        
      
        
        
      
        
        
      
        
        
      
        
        
      
        
        
      
    </div>
  </nav>

      </div>
    </div>
  </div>
</header>
    <main class="page-content" aria-label="Content">
      <div class="main-wrapper">
        <div class="page-content">
          <section class="content">
            <!-- <header class="site-header" role="banner">
  <div class="header-wrapper" style="background-color: #673f00">
    <div class="header-col header-col-1">
      <div class="logo-bee">
        <a href="/"><img src="..\assets\img\logo-bee-light.png"/></a>
      </div>
      <div class="title">
        <h1>
          <a href="/">WorkerBee Tech Co-op</a>
        </h1>
        <h2 class="slogan" style="color: #000000">
          Bee Kind. Bee Resilient. Bee Cooperative.
        </h2>
      </div>
    </div>
    <div class="header-col header-col-2">
      <div class="logo-flower">
        <img src="..\assets\img\header-flower-light.png" />
      </div>
      <div class="page-heading" >
        <h3>Contact Us</h3>
      </div>
    </div>
    <div class="header-col header-col-3">
      <div class="nav">
         
        

  <nav class="site-nav">
    <input
      type="checkbox"
      id="nav-trigger"
      class="nav-trigger" />
    <label for="nav-trigger">
      <svg
        viewBox="0 0 100 80"
        width="40"
        height="40">
        <rect width="100" height="20" />
        <rect
          y="30"
          width="100"
          height="20" />
        <rect
          y="60"
          width="100"
          height="20" />
      </svg>
    </label>

    <div class="trigger">
      
        
        
      
        
        
          <a class="page-link" href="/about/">About</a>
        
      
        
        
      
        
        
      
        
        
          <a class="page-link" href="/contact/">Contact Us</a>
        
      
        
        
      
        
        
      
        
        
      
        
        
      
        
        
      
    </div>
  </nav>

      </div>
    </div>
  </div>
</header>
<div class="contact-header">
  <div class="contact-wrapper">
    <div>
      <a href="/">
        <img class="left" src="../assets/img/bright-bee.png" alt="" />
      </a>
      <div>Home</div>
    </div>
    <h4>CONTACT US</h4>
    <div>
      <a href="/">
        <img src="../assets/img/bright-bee.png" alt="" />
      </a>
      <div>Home</div>
    </div>
  </div>
</div>
 -->
<div class="content-block">
  <div class="page">
    <div class="contact-text">
      <div class="contact-para">
        We will gather important information about your business, asking about
        your current technology setup and the specific challenges you are
        facing. This helps us understand your goals for improving your IT
        infrastructure.
      </div>
      <div class="contact-para">
        As you discuss your concern, you can share issues related to software,
        hardware, and cybersecurity. Our consultants will create a safe space
        for you to explore your ideal outcomes while addressing any budget
        constraints you may have.
      </div>
      <div class="contact-para">
        They will outline the various services our company offers, such as tech
        support, system integration, and cloud solutions. By the end of the
        meeting, you can expect a tailored action plan and a suggestion to
        schedule a follow-up session to dive deeper into the specific areas
        discussed. We are excited to work with you and establish a promising
        partnership that supports our shared values.
      </div>
    </div>
    <div class="contact-form">
      <form action="https://getform.io/f/akkywwxa" method="POST">
        <div class="contact-info">
          <div class="info">
            First Name:
            <input id="firstName" type="text" name="firstName" placeholder="John" required="" />
          </div>
          <div class="info">
            Last Name:
            <input id="lastName" type="text" name="lastName" placeholder="Doe" required="" />
          </div>
          <div class="info">
            Email:
            <input id="email" type="email" name="email" placeholder="JDoe24@example.com" required="" />
          </div>
          <div class="info">
            Phone: (Optional)
            <input id="phoneNumber" type="tel" name="phoneNumber" placeholder="(xxx)-xxx-xxxx" />
          </div>
        </div>
        <div class="company-info">
          <div class="info">
            Company Name: (Optional)
            <input id="companyName" type="text" name="companyName" placeholder="" />
          </div>
          <div class="info">
            Company Size: (Optional)
            <input id="companySize" type="text" name="companySize" placeholder="" />
          </div>
          <div class="info">
            Company Industry: (Optional)
            <input id="companyIndustry" type="text" name="companyIndustry" placeholder="" />
          </div>
          <div class="info">
            Company Technologies: (Optional)
            <input id="companyTech" type="text" name="companyTech" placeholder="" />
          </div>
        </div>
        <div class="project-info">
          <div class="info">
            What are your current challenges?
            <textarea id="summary" type="text" name="summary" placeholder="Please write a short summary of your needs to help us better prepare for our meeting. If applicable, please provide examples of similar projects or design guidelines." required=""></textarea>
          </div>
          <div class="info">
            When would you like this finished by?
            <input id="timeline" type="text" name="timeline" placeholder="What is your projected timeline for this project?" required="" />
          </div>
          <div class="info">
            Estimated budget for this project?
            <input id="budget" type="text" name="budget" placeholder="Provide an estimation of your budget to assist us in understanding the scope of your project." required="" />
          </div>
        </div>
        <button type="submit">Send</button>
      </form>
    </div>
  </div>
</div>


          </section>
        </div>
      </div>
    </main>
    <footer class="site-footer h-card">
  <data class="u-url" href="/"></data>
  <div class="wrapper">
    <h2 class="footer-heading">
      <a href="#" title="Back to top">WorkerBee Tech Co-op</a>
    </h2>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            <p>Come say howdy</p>
          </li><li>
              <a class="u-email" href="mailto:howdy@workerbeetech.coop">howdy@workerbeetech.coop</a>
            </li></ul>
      </div>
      <div class="footer-col footer-col-2"><ul class="social-media-list"><li>
    <a
      rel="nofollow"
      target="_blank"
      href="https://github.com/NextGen-Coop"
    >
      <svg class="svg-icon">
        <use
          xlink:href="/assets/minima-social-icons.svg#github"
        ></use>
      </svg>
      <span class="username">Fork us on Github</span>
    </a>
  </li><li>
    <a
      rel="nofollow"
      target="_blank"
      href="https://discord.gg/3WEPJYwdcS"
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 127.14 96.36">
        <path
          d="M107.7,8.07A105.15,105.15,0,0,0,81.47,0a72.06,72.06,0,0,0-3.36,6.83A97.68,97.68,0,0,0,49,6.83,72.37,72.37,0,0,0,45.64,0,105.89,105.89,0,0,0,19.39,8.09C2.79,32.65-1.71,56.6.54,80.21h0A105.73,105.73,0,0,0,32.71,96.36,77.7,77.7,0,0,0,39.6,85.25a68.42,68.42,0,0,1-10.85-5.18c.91-.66,1.8-1.34,2.66-2a75.57,75.57,0,0,0,64.32,0c.87.71,1.76,1.39,2.66,2a68.68,68.68,0,0,1-10.87,5.19,77,77,0,0,0,6.89,11.1A105.25,105.25,0,0,0,126.6,80.22h0C129.24,52.84,122.09,29.11,107.7,8.07ZM42.45,65.69C36.18,65.69,31,60,31,53s5-12.74,11.43-12.74S54,46,53.89,53,48.84,65.69,42.45,65.69Zm42.24,0C78.41,65.69,73.25,60,73.25,53s5-12.74,11.44-12.74S96.23,46,96.12,53,91.08,65.69,84.69,65.69Z"
        />
      </svg>
      <span class="username">&nbsp;Join us on Discord</span>
    </a>
  </li><li>
    <a
      rel="nofollow"
      target="_blank"
      href="https://www.linkedin.com/company/workerbeetech"
    >
      <svg class="svg-icon">
        <use
          xlink:href="/assets/minima-social-icons.svg#linkedin"
        ></use>
      </svg>
      <span class="username">Follow us on LinkedIn</span>
    </a>
  </li></ul>
</div>
      <div class="footer-col footer-col-3">
        <ul>
          <!-- <li><a href="/bylaws">Bylaws</a></li> -->
          <li><a href="/membership/agreement">Operating Agreement</a></li>
          <!-- <li><a href="/code-of-conduct">Code of Conduct</a></li> -->
          <!-- <li><a href="/change-order">Submit a Change Order</a></li> -->
        </ul>
      </div>
    </div>
    <div class="footer-bottom"><p class="fine-print">&copy 2025 WorkerBee Tech Co-op LLC</p>
      <p class="finer-print">Last build:
        <a href="https://github.com/NextGen-Coop/ngc.github.io" target="_blank">
          24d9c...
        </a>
        2025-05-06 at 22:51:51+0000
      </p>
    </div>
  </div>
</footer>
  </body>

</html>
