<div class="content-container">
	<div class="content-left">
		<div class='image-container'>
			<img src="..\assets\img\flower-branch-bee.png" class="flower-flair-center" alt="Flower Flair" />
		</div>
	</div>
	<div class="content-right">
		<div class="quote-statement">
			<p class="content-center">
				“Our owners should never get so far removed from the ground work that they can't accurately see the pain points in our organization.” 
				- Brillian Estrella, co-founder and board member.		
			</p>
		</div>
		<div class="quote-statement">
			<p class="content-center semi-bold">
				By choosing WorkerBee Tech Co-op, you not only receive top-quality software solutions but also support the foster youth in Middle Tennessee. 
				Join us in our mission to integrate technology and compassion. 
				Every decision you make with WorkerBee Tech Co-op is a step towards a brighter future for our community.
			</p>
		</div>
	</div>

</div>