<div class="content-container">
	<div class="mission-statement semi-bold">
		<p>
			Our mission is to break down barriers in the tech industry caused by social and economic inequality while transforming the industry into one where workers are valued, protected, and respected.
		</p>
		<p>
			Our vision is to create the most ethical company in the world to work for and work with.
		</p>
	</div>
	<div class="content-block">
		<h4>Democracy</h4>
		<p>
			True democracy is something that must be cultivated and encouraged. 
			It is not enough to just give our workers voting rights. 
			It is not enough to passively be engaged in our operations. 
			Our workers must truly be welcome at operational meetings. 
			We must make an active effort for our workers to understand and be responsible for the direction the company is going. 
			No puppet master sitting up in a board room and making all the decisions and relying on overworked and burnt-out workers to just be yes men. 
			Voting is integral to preserving workers’ rights, and the voting process must be Cooperative. 
		</p>
	</div>
	<div class="content-block">
		<h4>Community and Connection</h4>
		<p>
			Without people, tech is useless. Here at WorkerBee, we strive to serve people. 
			That person-to-person connection is what drives us. 
			It’s about how we can benefit others, not how others can benefit us. 
			We can have all the right opinions and beliefs, but without doing anything for our community, it is hollow and insignificant. 
			Our work begins and ends with the very people who believe in us and our mission. 
		</p>
	</div>
	<div class="content-block">
		<h4>Diversity and Inclusivity</h4>
		<p>
			Diversity isn’t some checkbox that we want to check off and be done with. 
			Diversity is something we want to bleed into every level of WorkerBee Tech. 
			Especially because the tech industry and modern corporate America have a long history of putting down women and people of color. 
			By dedicating ourselves to true diversity, we will breathe creativity into the currently bland, stagnant, and minimalist state of corporate America. 
			Our owners will be from all walks of life, and we will never lose sight of what it was like to be where we started. 
		</p>
	</div>
</div>