<div class="content-block">
  <h4>Bringing It All Back</h4>
  <p>
    We also strive to be a company you can be heartened to work with by giving back to our community. 
    Traditional boot camps and college courses are expensive and gatekeep tech education from low income areas.
    For students with the drive to learn we want to offer training to get them to the highest industry standard, equipment they may not otherwise be able to afford to get them started, and the opportunity to work with seasoned professionals already in the industry to get their professional careers started. Our community projects don’t just end with our workers.
    We are planning on hosting computer literacy courses to teach our communities how to learn and teach themselves.
    Supporting us is supporting Tennessee.
  </p>
</div>