<div class="content-block">
  <div class="page">
    <div class="contact-text">
      <div class="contact-para">
        We will gather important information about your business, asking about
        your current technology setup and the specific challenges you are
        facing. This helps us understand your goals for improving your IT
        infrastructure.
      </div>
      <div class="contact-para">
        As you discuss your concern, you can share issues related to software,
        hardware, and cybersecurity. Our consultants will create a safe space
        for you to explore your ideal outcomes while addressing any budget
        constraints you may have.
      </div>
      <div class="contact-para">
        They will outline the various services our company offers, such as tech
        support, system integration, and cloud solutions. By the end of the
        meeting, you can expect a tailored action plan and a suggestion to
        schedule a follow-up session to dive deeper into the specific areas
        discussed. We are excited to work with you and establish a promising
        partnership that supports our shared values.
      </div>
    </div>
    <div class="contact-form">
      <form action="https://getform.io/f/akkywwxa" method="POST">
        <div class="contact-info">
          <div class="info">
            First Name:
            <input
              id="firstName"
              type="text"
              name="name"
              placeholder="John"
              required
            />
          </div>
          <div class="info">
            Last Name:
            <input
              id="lastName"
              type="text"
              name="name"
              placeholder="Doe"
              required
            />
          </div>
          <div class="info">
            Email:
            <input
              id="email"
              type="email"
              name="email"
              placeholder="JDoe24@example.com"
              required
            />
          </div>
          <div class="info">
            Phone: (Optional)
            <input
              id="phoneNumber"
              type="tel"
              name="phone"
              placeholder="(xxx)-xxx-xxxx"
            />
          </div>
        </div>
        <div class="company-info">
          <div class="info">
            Company Name: (Optional)
            <input id="companyName" type="text" name="message" placeholder="" />
          </div>
          <div class="info">
            Company Size: (Optional)
            <input id="companySize" type="text" name="message" placeholder="" />
          </div>
          <div class="info">
            Company Industry: (Optional)
            <input
              id="companyIndustry"
              type="text"
              name="message"
              placeholder=""
            />
          </div>
          <div class="info">
            Company Technologies: (Optional)
            <input id="companyTech" type="text" name="message" placeholder="" />
          </div>
        </div>
        <div class="project-info">
          <div class="info">
            What are your current challenges?
            <textarea
              id="summary"
              type="text"
              name="message"
              placeholder="Please write a short summary of your needs to help us better prepare for our meeting. If applicable, please provide examples of similar projects or design guidelines."
              required
            ></textarea>
          </div>
          <div class="info">
            When would you like this finished by?
            <input
              id="timeline"
              type="text"
              name="message"
              placeholder="What is your projected timeline for this project?"
              required
            />
          </div>
          <div class="info">
            Estimated budget for this project?
            <input
              id="budget"
              type="text"
              name="message"
              placeholder="Provide an estimation of your budget to assist us in understanding the scope of your project."
              required
            />
          </div>
        </div>
        <button type="submit">Send</button>
      </form>
    </div>
  </div>
</div>
