<div class="content-block">
  <div class="mindset">
    <div class="mindset-heading">
      <div class="mindset-title">THE COOPERATIVE MINDSET</div>
      <div class="header-text">
        As a worker cooperative, we follow the seven cooperative principles. <br/>
        These principles were adopted by The International Co-Operative <br/>
        Alliance in 1995. These principles are how we stay true to our values <br/>
        and are the reason we are such a great choice for your software <br/>
        needs.
      </div>
    </div>
    <div class="container">
      <ul class="text-left">
        <li>
          Voluntary membership: Any person who is willing to accept the
          responsibilities of co-op membership and who wishes to use the
          services of a cooperative is welcome to become a member.
        </li>
        <li>
          Democratic member control: Co-ops are controlled by their members.
          Members have control over setting policies for the co-op and making
          decisions for the cooperative.
        </li>
        <li>
          Member economic participation: Members contrbute to the capital of the
          co-op democratically and equitably. Most of the capital of a co-op
          remains the property of the co-op and isn’t redistributed to members.
        </li>
      </ul>
      <ul class="text-right">
        <li>
          Autonomy and independence: Co-ops are meant to be autonomous and
          democratically controlled, meaning they aren’t subject to control by
          outside organizations.
        </li>
        <li>
          Education, training and information: A cooperative provides education
          and training to members and board members to allow them to contribute
          to the development of the co-op. Cooperatives also seek to inform and
          educate the public about the mission and operation of a co-op.
        </li>
        <li>
          Cooperation among cooperatives: Co-ops will often work together,
          creating regional, national, and international structures that help to
          improve the community and create a better world.
        </li>
        <li>
          Concern for community: The policies approved by the members of a
          cooperative should help to develop the community around the co-op in a
          sustainable way.
        </li>
      </ul>
    </div>
  </div>
</div>
