<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="wrapper">
    <h2 class="footer-heading">
      <a href="#" title="Back to top">{{ site.title | escape }}</a>
    </h2>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            <p>Come say howdy</p>
          </li>
          {%- if site.email -%}
            <li>
              <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
            </li>
          {%- endif -%}
        </ul>
      </div>
      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>
      <div class="footer-col footer-col-3">
      <!-- These links aren't ready yet.
        <ul>
          <li><a href="/bylaws">Bylaws</a></li>
          <li><a href="/membership/agreement">Membership Agreement</a></li>
          <li><a href="/code-of-conduct">Code of Conduct</a></li>
          <li><a href="/change-order">Submit a Change Order</a></li>
        </ul>
      -->
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy 2023 NextGen Cooperative LLC</p>
    </div>
  </div>
</footer>