<div class="content-block">
  <div class="landing">
    <div class="landing-content">
      <div>
        <div class="landing-title">
          Communicate. <br/>
          Collaborate. <br/>
          Cooperate.
        </div>
        <div class="landing-para">
          With WorkerBee Tech, break free from the sea of online mediocrity! Get 
          noticed with high-quality hosting at a competitive price, all while
          keeping your security top-notch.
        </div>
        <button class="landing-button" onclick="location.href='https://workerbeetech.coop'">
          Get Started
        </button>
      </div>
      <div class="features">
        <div class="feature">
          <img
            class="feature-icon"
            src="..\assets\img\padlock.png"
            alt="" />
          <div class="feature-text">Speed & Security</div>
        </div>
        <div class="feature">
          <img
            class="feature-icon"
            src="..\assets\img\chat.png"
            alt="" />
          <div class="feature-text">Clear & Effective Communication</div>
        </div>
        <div class="feature">
          <img
            class="feature-icon"
            src="..\assets\img\gear.png"
            alt="" />
          <div class="feature-text">Flexible & Scalable</div>
        </div>
      </div>
    </div>
    <img
      class="landing-img"
      src="..\assets\img\flowers.png"
      alt="" />
  </div>
</div>