<header class="site-header" role="banner">
  <div class="header-wrapper">
    <div class="header-col header-col-1">
      <div class="logo">
        <a href="/">{% include workerbee-logo.svg %}</a>
      </div>
      <div class="title">
        <h1>
          <a href="/">{{ site.title | escape }}</a>
        </h1>
        <h2>{{ site.slogan | escape }}</h2>
      </div>
    </div>
    <div class="header-col header-col-2">
      <div class="logo">
        <img src="..\assets\img\header-flower.png" />
      </div>
      <div class="page-heading">
        <h3>Welcome to the Hive</h3>
      </div>
    </div>
    <div class="header-col header-col-3">
      <div class="nav">
        {% assign default_paths = site.pages | map: "path" %} {% assign page_paths = site.header_pages | default: default_paths %}
        {% include nav.html paths=page_paths %}
      </div>
    </div>
  </div>
</header>