<header class="site-header" role="banner">
  <div class="header-wrapper" style="background-color: {{ page.heading_bg_color | default: '#ffffff' }}">
    <div class="header-col header-col-1">
      <div class="logo-bee">
        <a href="/"><img src="..\assets\img\logo-bee-light.png"/></a>
      </div>
      <div class="title">
        <h1>
          <a href="/">{{ site.title | escape }}</a>
        </h1>
        <h2 class="slogan" style="color: {{ page.slogan_color | default: '#000000' }}">
          {{ site.slogan | escape }}
        </h2>
      </div>
    </div>
    <div class="header-col header-col-2">
      <div class="logo-flower">
        <img src="..\assets\img\header-flower-light.png" />
      </div>
      <div class="page-heading" >
        <h3>{{ include.heading | default: "Welcome to the Hive" }}</h3>
      </div>
    </div>
    <div class="header-col header-col-3">
      <div class="nav">
        {% assign default_paths = site.pages | map: "path" %} {% assign page_paths = site.header_pages | default: default_paths %}
        {% include nav.html paths=page_paths %}
      </div>
    </div>
  </div>
</header>