<div class="content-block">
  <h4>Homegrown Software</h4>
  <p>
    WorkerBee specializes in web and mobile sites, but there's not much we can't do. 
    Our developers are experts in their field and command a wide range of skills.
    We can create a completely customized solution tailored to your specific needs.
    Which is something that the design templates website builders use can't do for you.
    Not only that, but we won't reinvent the wheel. We utilize free open source technology to save us time and you money.
    Give us your idea, and together we can make it a reality.
  </p>
</div>