<div class="content-block">
  <h4>No Queens, No Keepers</h4>
  <p>
    WorkerBee is a worker cooperative which is an ownership structure where our workers are our owners. 
    No outside shareholders who wouldn't know what DNS is even if we spelled it out for them.
    No C-level executives pushing profits over people. Just our workers making sure everyone's voices are heard.
    By taking care of our workers at every level, we can guarantee quality work from workers who are just as dedicated to your project as you are.
    Which is why choosing WorkerBee to carry your project is the right choice. We want you to succeed because your success is our success.
  </p>
</div>