<div class="content-block">
  <div class="offer">
    <div class="offer-heading">
      <div class="offer-title">WHAT WE OFFER</div>
      <div>
        <img class="offer-img" src="" alt="" />
      </div>
    </div>
    <div class="container">
      <div class="left-text">
        Workflow that Flows <br />
        No more workflows that run like honey. With WorkerBee, Your site will be
        efficient and buzz above all the rest. with WorkerBee, you'll Get
        seamless integration like the perfect hivemind, allowing your team to
        focus on what matters most. Experience the power of a solution that
        adapts to your needs, elevating productivity while maintaining the
        highest standards of reliabilty and speed.
      </div>
      <ul class="right-text">
        <li>
          An all-in-one solution with every part buzzing in harmony.
        </li>
        <li>
          Comprehensive customer support for every bee in your hive.
        </li>
        <li>
          With WorkBee on your side, you'll have more time to smell the roses
          and less time juggling all the parts of your website that leave you
          feeling stung.
        </li>
      </ul>
    </div>
  </div>
</div>
