<section class="home-region">

  <h2 class="home-region-title">What?</h2>

  <div class="home-region-content">
    <ul>
      <li>Web Development and Design</li>
      <li>App Development and Design</li>
      <li>Data Analytics</li>
      <li>Social Media</li>
      <li>SEO Optimization</li>
      <li>Long Term Maintenance</li>
    </ul>
    <p>These are the services we offer, and we strive to offer more to our community.</p>
    <p>A cooperative business model functions similarly to traditional business models. The primary difference is that instead of being privately owned by a single entity or group, or publicly owned via stock shares purchasable on the market, we are entirely owned by the people who work here. Each member gets a vote on issues that affect the business, and the consensus wins. For more details, see our <a href="/bylaws">bylaws</a></p>
  </div>

</section>
