<section class="home-region">

  <h2 class="home-region-title">Why?</h2>

  <div class="home-region-content">
    <p>There are tons of agencies out there that can handle most tasks. But most of them treat their employees as a means to larger profit margins. At NextGen the employees are the owners, which means you not only get highly skilled people, but also highly motivated as our company does not have executive leadership to pay a premium for. Our people are paid well, and we can still deliver higher quality with a smaller budget.</p>
  </div>

</section>
