$font_color: #673f00
$header_color: #FFF5CF
$header_hover_color: #d9792a
$header_bg: #d07890
$footer_bg: #673f00
$main_bg: #fff5cf
$nav_bg: #666666
$landing_text: #000000
$landing_bg: #fff5cf
$author_bg: rgba(227, 242, 243, .75)
$header_bg2: rgba(129, 145, 38, 1)
