main
    .main-wrapper
        .content
            margin: 0
            padding: 0
            .content-block
                width: 100%
                background: #dd94b0
                padding-bottom: 50px
                .contact-header
                    position: relative
                    background: #7a5f33
                    color: $author_bg
                    font-family: $title_font
                    font-size: 2.5rem
                    font-weight: normal
                    display: flex
                    justify-content: center
                    align-items: center
                    text-align: center
                    width: 100%
                    height: 100px
                .page
                    display: flex
                    flex-direction: row
                    height: 100%
                    .contact-text
                        width: 50%
                        margin: 0 25px 0 75px
                        font-family: $body_font
                        font-size: 1.5rem
                        line-height: 1.5
                        color: $landing_bg
                        text-align: left
                        .contact-para
                            margin-bottom: 2rem
                    .contact-form
                        width: 50%
                        background: $landing_bg
                        margin: 0 75px 0 25px
                        border-radius: 50px
                        padding: 2rem
                        form
                            display: flex
                            flex-direction: column
                            justify-content: space-between
                            height: 100%
                            .contact-info
                                display: flex
                                justify-content: space-around
                            .company-info
                                height: 100%
                                display: flex
                                flex-direction: column
                                justify-content: space-between
                                .info
                                    display: flex
                                    flex-direction: column
                                    padding: 10px 0
                                    textarea
                                        height: 100px