@font-face
  font-family: 'Eightgon'
  src: url('../../assets/fonts/Eightgon-Regular.woff2') format('woff2'), url('../../assets/fonts/Eightgon-Regular.woff') format('woff')
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Pattanakarn-Regular'
  src: url('../../assets/fonts/Pattanakarn-Regular.woff2') format('woff2'), url('../../assets/fonts/Pattanakarn-Regular.woff') format('woff')
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Brown Sugar'
  src: url('../../assets/fonts/BrownSugar.woff2') format('woff2'), url('../../assets/fonts/BrownSugar.woff') format('woff')
  font-weight: normal
  font-style: normal
  font-display: swap
  
$header_font: 'Eightgon', sans-serif
$title_font: 'Brown Sugar', monospace
$body_font: 'Pattanakarn-Regular', sans-serif
$menu_font: 'Arial', 'Helvetica', sans-serif