.main-content
    width: 100%
    .main-wrapper
        width: 100%
        .content
            width: 100%
            font-family: $body_font
            .content-block
                width: 100%
                margin: 0
                .landing
                    width: 100%
                    display: flex
                    flex-direction: column
                    justify-content: center
                    align-items: center
                    @media only screen and (min-width: 768px)
                        display: flex
                        flex-direction: row
                    .landing-content
                        margin: 0 auto
                        padding: 0 10vw
                        width: 55%
                        display: flex
                        flex-direction: column
                        flex-wrap: wrap
                        @media screen and (min-width: 768px)
                            display: flex
                            flex-direction: column
                        .landing-title
                            max-width: 100%
                            text-align: left
                            font-size: 1.75rem
                            font-weight: normal
                            color: $landing_text
                            @media only screen and (min-width: 600px)
                                font-size: 2rem
                            @media only screen and (min-width: 768px)
                                font-size: 2.5rem
                            @media only screen and (min-width: 1000px)
                                font-size: 3rem
                        .landing-para
                            text-align: left
                            font-size: 1rem
                            font-weight: normal
                            color: $landing_text
                            @media only screen and (min-width: 600px)
                                font-size: 1.125rem
                            @media only screen and (min-width: 768px)
                                font-size: 1.3rem
                            @media only screen and (min-width: 1000px)
                                font-size: 1.5rem
                        .landing-button
                            margin: 2rem auto
                            padding: 1vh 2vw
                            background: $header_bg
                            color: $landing_text
                            font-size: 1rem
                            text-align: center
                            border-radius: 100px
                            text-decoration: none
                            border: none
                            width: 100%
                            cursor: pointer
                            @media screen and (min-width: 600px)
                                font-size: 1.125rem
                            @media screen and (min-width: 768px)
                                font-size: 1.3rem
                            @media screen and (min-width: 1000px)
                                font-size: 1.5rem
                        .features
                            margin: 0 auto
                            width: 100%
                            display: flex
                            flex-direction: column
                            align-items: center
                            @media screen and (min-width: 1000px)
                                flex-direction: row
                                justify-content: space-between
                                z-index: 1
                            .feature
                                width: 100%
                                text-align: center
                                justify-content: center
                                align-items: center
                                display: flex
                                .feature-text
                                    width: 100%
                                    font-size: 12px
                                    font-weight: normal
                                    color: $landing_text
                                    text-align: left
                    .landing-img
                        width: 45%
                        @media screen and (max-width: 768px)
                            display: none

.offer

    background: $header_bg
    padding: 0 10vw
    .offer-heading
        position: relative
        display: flex
        justify-content: space-between
        width: 100%
        padding: 4rem 0
        @media screen and (max-width: 768px)
            flex-direction: column
            align-items: center
        .offer-title
            font-size: 2rem
            font-family: $title_font
            @media screen and (min-width: 600px)
                font-size: 2.5rem
            @media screen and (min-width: 768px)
                font-size: 3rem
            @media screen and (min-width: 1000px)
                font-size: 3.5rem
        .img-wrapper
            height: 50%
            display: flex
            justify-content: right
            @media screen and (max-width: 600px)
                display: none
            .offer-img
                width: 50%
    .container
        display: flex
        flex-direction: column
        padding: 4rem 0
        width: 100%
        font-family: $body_font
        color: $landing_bg
        @media screen and (min-width: 1200px)
            flex-direction: row
        .left-text
            font-size: 1rem
            font-weight: normal
            padding-bottom: 2rem
            @media screen and (min-width:600px)
                font-size: 1.25rem
            @media screen and (min-width:768px)
                font-size: 1.5rem
            @media screen and (min-width:1000px)
                font-size: 1.75rem
            @media screen and (min-width: 1200px)
                width: 50%
                padding-bottom: 0
                padding-right: 4rem
        .right-text
            font-size: 1rem
            font-weight: normal
            z-index: 1
            @media screen and (min-width:600px)
                font-size: 1.25rem
            @media screen and (min-width:768px)
                font-size: 1.5rem
            @media screen and (min-width:1000px)
                font-size: 1.75rem
            @media screen and (min-width: 1200px)
                width: 50%

.mindset
    background: $header_bg
    padding: 0 6vw 50px 6vw
    color: $landing_bg
    .mindset-heading
        display: flex
        flex-direction: column
        padding: 4rem 0
        justify-content: space-between
        @media screen and (min-width: 1200px)
            flex-direction: row
        .mindset-title
            font-size: 1.25rem
            font-family: $title_font
            font-weight: normal
            @media screen and (min-width: 600px)
                font-size: 2rem
            @media screen and (min-width: 768px)
                font-size: 2.5rem
            @media screen and (min-width: 1200px)
                font-size: 3.5rem
        .header-text
            padding-top: 16px
            font-size: 1rem
            font-weight: normal
            @media screen and (min-width: 600px)
                font-size: 1.125rem
            @media screen and (min-width: 768px)
                font-size: 1.3rem
            @media screen and (min-width: 1200px)
                font-size: 1.6rem
                text-align: right
                width: 45%
    .container
        display: flex
        flex-direction: column
        @media screen and (min-width: 1200px)
            flex-direction: row
        .text-left
            font-size: 1rem
            font-weight: normal
            padding: 0 0 1rem
            @media screen and (min-width:600px)
                font-size: 1.125rem
                padding: 0 2rem 0 0
            @media screen and (min-width:768px)
                font-size: 1.3rem
            @media screen and (min-width:1000px)
                font-size: 1.6rem
        .text-right
            font-size: 1rem
            font-weight: normal
            @media screen and (min-width:600px)
                font-size: 1.125rem
            @media screen and (min-width:768px)
                font-size: 1.3rem
            @media screen and (min-width:1000px)
                font-size: 1.5rem
