<!DOCTYPE html>
<html lang="en">

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/main.css"><title>
    
      About | WorkerBee Tech Co-op
    
  </title><link rel="canonical" href="https://workerbeetech.coop/about/">
  
  <meta name="description" content="{% include about-page-1. html %}{% include about-page-2. html %}{% include about-page-3. html %}">
  <!-- Facebook Opengraph -->
  <meta property="og:title" content="About | WorkerBee Tech Co-op" />
  
  <meta property="og:url" content="https://workerbeetech.coop/about/" />
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="WorkerBee Tech Co-op" />
  <meta property="og:description" content="{% include about-page-1. html %}{% include about-page-2. html %}{% include about-page-3. html %}" />
  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary">
  
  <meta name="twitter:title" content="About | WorkerBee Tech Co-op" />
  
  <meta name="twitter:url" content="https://workerbeetech.coop/about/" />
  <meta name="twitter:description" content="{% include about-page-1. html %}{% include about-page-2. html %}{% include about-page-3. html %}" />
  <link rel="icon" type="image/png"
    href="assets/ico/favicon.png">
  <link rel="manifest" href="/site.webmanifest">
  <meta name="msapplication-TileColor"
    content="#fce4ac">
  <meta name="msapplication-TileImage" content="assets/ico/favicon.png">
  <meta name="theme-color"
    content="#fce4ac">

  <link rel="stylesheet" href="/assets/css/base.css">
  <script src="/assets/js/scroll.js"></script>


  
  <!-- Sitemap.xml -->
  <link rel="sitemap" type="application/xml" title="Sitemap"
    href="https://workerbeetech.coop/sitemap.xml" />
    <script>function initApollo(){var n=Math.random().toString(36).substring(7),o=document.createElement("script");
      o.src="https://assets.apollo.io/micro/website-tracker/tracker.iife.js?nocache="+n,o.async=!0,o.defer=!0,
      o.onload=function(){window.trackingFunctions.onLoad({appId:"67fd24b0bbf0a30021b2b5ec"})},
      document.head.appendChild(o)}initApollo();</script>
     <!-- Apollo widget begin -->
     <script
     type="text/javascript"
     src="https://assets.apollo.io/js/meetings/meetings-widget.js"
     onload='window.ApolloMeetings.initWidget({appId: "6807cc57bebb710021b22abf", schedulingLink: "48z-ktc-atm"})'
     defer
   ></script>
 <!-- Apollo widget end -->

  
</head>

  <body >
    <header class="site-header" role="banner">
  <div class="header-wrapper" style="background-color: #d07890">
    <div class="header-col header-col-1">
      <div class="logo-bee">
        <a href="/"><img src="..\assets\img\logo-bee-light.png"/></a>
      </div>
      <div class="title">
        <h1>
          <a href="/">WorkerBee Tech Co-op</a>
        </h1>
        <h2 class="slogan" style="color: #673f00">
          Bee Kind. Bee Resilient. Bee Cooperative.
        </h2>
      </div>
    </div>
    <div class="header-col header-col-2">
      <div class="logo-flower">
        <img src="..\assets\img\header-flower-light.png" />
      </div>
      <div class="page-heading" >
        <h3>About</h3>
      </div>
    </div>
    <div class="header-col header-col-3">
      <div class="nav">
         
        

  <nav class="site-nav">
    <input
      type="checkbox"
      id="nav-trigger"
      class="nav-trigger" />
    <label for="nav-trigger">
      <svg
        viewBox="0 0 100 80"
        width="40"
        height="40">
        <rect width="100" height="20" />
        <rect
          y="30"
          width="100"
          height="20" />
        <rect
          y="60"
          width="100"
          height="20" />
      </svg>
    </label>

    <div class="trigger">
      
        
        
      
        
        
          <a class="page-link" href="/about/">About</a>
        
      
        
        
      
        
        
      
        
        
          <a class="page-link" href="/contact/">Contact Us</a>
        
      
        
        
      
        
        
      
        
        
      
        
        
      
        
        
      
    </div>
  </nav>

      </div>
    </div>
  </div>
</header>
    <main class="page-content" aria-label="Content">
      <div class="main-wrapper">
        <div class="page-content">
          <section class="content">
            <div class="content-container">
	<div class="content-block">
		<h4>Homegrown Software</h4>
		<p>
			WorkerBee specializes in web and mobile sites, but there's not much we can't do. 
			Our developers are experts in their field and command a wide range of skills.
			We can create a completely customized solution tailored to your specific needs.
			Which is something that the design templates website builders use can't do for you.
			Not only that, but we won't reinvent the wheel. We utilize free open source technology to save us time and you money.
			Give us your idea, and together we can make it a reality.
		</p>
	</div>
	<div class="content-block">
		<h4>Bringing It All Back</h4>
		<p>
			We also strive to be a company you can be heartened to work with by giving back to our community. 
			Traditional boot camps and college courses are expensive and gatekeep tech education from low income areas.
			For students with the drive to learn we want to offer training to get them to the highest industry standard, equipment they may not otherwise be able to afford to get them started, and the opportunity to work with seasoned professionals already in the industry to get their professional careers started. Our community projects don’t just end with our workers.
			We are planning on hosting computer literacy courses to teach our communities how to learn and teach themselves.
			Supporting us is supporting Tennessee.
		</p>
	</div>
	<div class="content-block">
		<h4>No Queens, No Keepers</h4>
		<p>
			WorkerBee is a worker cooperative which is an ownership structure where our workers are our owners. 
			No outside shareholders who wouldn't know what DNS is even if we spelled it out for them.
			No C-level executives pushing profits over people. Just our workers making sure everyone's voices are heard.
			By taking care of our workers at every level, we can guarantee quality work from workers who are just as dedicated to your project as you are.
			Which is why choosing WorkerBee to carry your project is the right choice. We want you to succeed because your success is our success.
		</p>
	</div>
</div>
<div class="flower-flair-container">
	<img src="..\assets\img\green-flower-flair.png" class="flower-flair-left" alt="Flower Flair" />
	<img src="..\assets\img\bee-with-line.png" class="flower-flair-left bee-flair" alt="Bee with beeline" />
	<img src="..\assets\img\green-flower-flair.png" class="flower-flair-right" alt="Flower Flair" />
</div>
<div class="content-container">
	<div class="mission-statement semi-bold">
		<p>
			Our mission is to break down barriers in the tech industry caused by social and economic inequality while transforming the industry into one where workers are valued, protected, and respected.
		</p>
		<p>
			Our vision is to create the most ethical company in the world to work for and work with.
		</p>
	</div>
	<div class="content-block">
		<h4>Democracy</h4>
		<p>
			True democracy is something that must be cultivated and encouraged. 
			It is not enough to just give our workers voting rights. 
			It is not enough to passively be engaged in our operations. 
			Our workers must truly be welcome at operational meetings. 
			We must make an active effort for our workers to understand and be responsible for the direction the company is going. 
			No puppet master sitting up in a board room and making all the decisions and relying on overworked and burnt-out workers to just be yes men. 
			Voting is integral to preserving workers’ rights, and the voting process must be Cooperative. 
		</p>
	</div>
	<div class="content-block">
		<h4>Community and Connection</h4>
		<p>
			Without people, tech is useless. Here at WorkerBee, we strive to serve people. 
			That person-to-person connection is what drives us. 
			It’s about how we can benefit others, not how others can benefit us. 
			We can have all the right opinions and beliefs, but without doing anything for our community, it is hollow and insignificant. 
			Our work begins and ends with the very people who believe in us and our mission. 
		</p>
	</div>
	<div class="content-block">
		<h4>Diversity and Inclusivity</h4>
		<p>
			Diversity isn’t some checkbox that we want to check off and be done with. 
			Diversity is something we want to bleed into every level of WorkerBee Tech. 
			Especially because the tech industry and modern corporate America have a long history of putting down women and people of color. 
			By dedicating ourselves to true diversity, we will breathe creativity into the currently bland, stagnant, and minimalist state of corporate America. 
			Our owners will be from all walks of life, and we will never lose sight of what it was like to be where we started. 
		</p>
	</div>
</div>
<div class="content-container">
	<div class="content-left">
		<div class="image-container">
			<img src="..\assets\img\flower-branch-bee.png" class="flower-flair-center" alt="Flower Flair" />
		</div>
	</div>
	<div class="content-right">
		<div class="quote-statement">
			<p class="content-center">
				“Our owners should never get so far removed from the ground work that they can't accurately see the pain points in our organization.” 
				- Brillian Estrella, co-founder and board member.		
			</p>
		</div>
		<div class="quote-statement">
			<p class="content-center semi-bold">
				By choosing WorkerBee Tech Co-op, you not only receive top-quality software solutions but also support the foster youth in Middle Tennessee. 
				Join us in our mission to integrate technology and compassion. 
				Every decision you make with WorkerBee Tech Co-op is a step towards a brighter future for our community.
			</p>
		</div>
	</div>

</div>

          </section>
        </div>
      </div>
    </main>
    <footer class="site-footer h-card">
  <data class="u-url" href="/"></data>
  <div class="wrapper">
    <h2 class="footer-heading">
      <a href="#" title="Back to top">WorkerBee Tech Co-op</a>
    </h2>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            <p>Come say howdy</p>
          </li><li>
              <a class="u-email" href="mailto:howdy@workerbeetech.coop">howdy@workerbeetech.coop</a>
            </li></ul>
      </div>
      <div class="footer-col footer-col-2"><ul class="social-media-list"><li>
    <a
      rel="nofollow"
      target="_blank"
      href="https://github.com/NextGen-Coop"
    >
      <svg class="svg-icon">
        <use
          xlink:href="/assets/minima-social-icons.svg#github"
        ></use>
      </svg>
      <span class="username">Fork us on Github</span>
    </a>
  </li><li>
    <a
      rel="nofollow"
      target="_blank"
      href="https://discord.gg/3WEPJYwdcS"
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 127.14 96.36">
        <path
          d="M107.7,8.07A105.15,105.15,0,0,0,81.47,0a72.06,72.06,0,0,0-3.36,6.83A97.68,97.68,0,0,0,49,6.83,72.37,72.37,0,0,0,45.64,0,105.89,105.89,0,0,0,19.39,8.09C2.79,32.65-1.71,56.6.54,80.21h0A105.73,105.73,0,0,0,32.71,96.36,77.7,77.7,0,0,0,39.6,85.25a68.42,68.42,0,0,1-10.85-5.18c.91-.66,1.8-1.34,2.66-2a75.57,75.57,0,0,0,64.32,0c.87.71,1.76,1.39,2.66,2a68.68,68.68,0,0,1-10.87,5.19,77,77,0,0,0,6.89,11.1A105.25,105.25,0,0,0,126.6,80.22h0C129.24,52.84,122.09,29.11,107.7,8.07ZM42.45,65.69C36.18,65.69,31,60,31,53s5-12.74,11.43-12.74S54,46,53.89,53,48.84,65.69,42.45,65.69Zm42.24,0C78.41,65.69,73.25,60,73.25,53s5-12.74,11.44-12.74S96.23,46,96.12,53,91.08,65.69,84.69,65.69Z"
        />
      </svg>
      <span class="username">&nbsp;Join us on Discord</span>
    </a>
  </li><li>
    <a
      rel="nofollow"
      target="_blank"
      href="https://www.linkedin.com/company/workerbeetech"
    >
      <svg class="svg-icon">
        <use
          xlink:href="/assets/minima-social-icons.svg#linkedin"
        ></use>
      </svg>
      <span class="username">Follow us on LinkedIn</span>
    </a>
  </li></ul>
</div>
      <div class="footer-col footer-col-3">
        <ul>
          <!-- <li><a href="/bylaws">Bylaws</a></li> -->
          <li><a href="/membership/agreement">Operating Agreement</a></li>
          <!-- <li><a href="/code-of-conduct">Code of Conduct</a></li> -->
          <!-- <li><a href="/change-order">Submit a Change Order</a></li> -->
        </ul>
      </div>
    </div>
    <div class="footer-bottom"><p class="fine-print">&copy 2025 WorkerBee Tech Co-op LLC</p>
      <p class="finer-print">Last build:
        <a href="https://github.com/NextGen-Coop/ngc.github.io" target="_blank">
          24d9c...
        </a>
        2025-05-06 at 22:51:51+0000
      </p>
    </div>
  </div>
</footer>
  </body>

</html>
