---
---

$font_color: #080808
$header_bg: rgb(171,205,239)
$footer_bg: #616100
$main_bg: #f5deb3
$nav_bg: #666666
$author_bg: rgba(227, 242, 243, .75)
$title_font: 'courier new', monospace
$body_font: 'courier new', monospace
$menu_font: 'Arial', 'Helvetica', sans-serif

@import fonts

html
  width: 100%
  margin: 0

header
  background-color: $header_bg

body
  background-color: $main_bg
  width: 100%
  margin: 0
  display: flex
  flex-flow: column nowrap
  color: $font_color
  font-weight: bold
  .wrapper
    padding: 0
    max-width: calc(1280px + (30px / 2))
  section.hero
    padding: 0
    video
      object-fit: cover
      width: 100vw
      height: 100vh
      position: fixed
      top: 0
      left: 0
    .hero-header
      position: relative
      height: 100vh
      text-align: center
      display: flex
      align-items: center
      justify-content: center
      svg
        max-width: 33vh
      h1
        font-family: $font-rosarivo
        font-size: 4vw
        -webkit-text-stroke: 1px black
        color: white
        text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000

svg#ng-sunflower
  display: block

footer
  order: 3
  background: $footer_bg
  color: $font_color
