@font-face {
  font-family: "Eightgon";
  src: url("../../assets/fonts/Eightgon-Regular.woff2") format("woff2"), url("../../assets/fonts/Eightgon-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
.site-nav {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  max-height: 10vw; }
  .site-nav svg {
    position: relative;
    z-index: 100;
    width: 20vw;
    max-height: 10vw;
    visibility: visible;
    border-radius: 5px;
    text-align: right; }
    @media screen and (max-width: 992px) {
      .site-nav svg {
        position: absolute;
        top: 9px;
        right: 15px; } }
    @media only screen and (min-width: 992px) {
      .site-nav svg {
        visibility: hidden; } }

.site-header {
  border-bottom: none;
  border-top: none; }

header {
  display: flex; }
  header .header-wrapper {
    background-color: #A87375;
    display: flex;
    flex: 0 0 100%;
    flex-direction: row;
    flex-flow: row wrap;
    min-height: 150px; }
    header .header-wrapper h3 {
      text-align: center;
      font-size: 2rem;
      font-weight: bold; }
    header .header-wrapper .logo {
      text-align: center; }
      header .header-wrapper .logo svg {
        float: left;
        max-width: 75px;
        max-height: 75px; }
      header .header-wrapper .logo img {
        max-height: 75px;
        padding-top: 5px; }
    header .header-wrapper .page-heading {
      color: #FFF5CF; }
    header .header-wrapper .header-col {
      width: 100%; }
      @media only screen and (min-width: 1000px) {
        header .header-wrapper .header-col {
          width: 32%; } }
      header .header-wrapper .header-col .header-col-1 {
        order: 2;
        margin-top: 50px; }
        @media only screen and (min-width: 500px) {
          header .header-wrapper .header-col .header-col-1 {
            margin-top: 0px; } }
        @media only screen and (min-width: 1000px) {
          header .header-wrapper .header-col .header-col-1 {
            order: 1; } }
      header .header-wrapper .header-col .header-col-2 {
        order: 3; }
        @media only screen and (min-width: 1000px) {
          header .header-wrapper .header-col .header-col-2 {
            order: 2; } }
      header .header-wrapper .header-col .header-col-3 {
        order: 1; }
        @media only screen and (min-width: 1000px) {
          header .header-wrapper .header-col .header-col-3 {
            order: 3; } }
    header .header-wrapper .title {
      float: left; }
      header .header-wrapper .title h1 {
        padding-top: 10px;
        font-family: "Eightgon", sans-serif;
        font-weight: bold;
        font-size: 2rem;
        text-align: justify; }
        header .header-wrapper .title h1 a {
          color: #FFF5CF; }
          header .header-wrapper .title h1 a:hover {
            text-decoration: none;
            color: #4f5d2b; }
      header .header-wrapper .title h2 {
        margin-top: -30px;
        text-align: center;
        font-weight: bold;
        font-size: 1rem; }
    header .header-wrapper .nav {
      float: right; }

footer {
  background: #553c15;
  color: #553c15; }

.site-footer {
  padding: 30px 3%;
  box-shadow: 0px -3px 15px #ffedcc;
  color: rgba(227, 242, 243, 0.75); }
  .site-footer a {
    color: rgba(227, 242, 243, 0.75);
    text-decoration: none; }
    .site-footer a svg {
      fill: rgba(227, 242, 243, 0.75);
      max-width: 18px;
      vertical-align: baseline; }
    .site-footer a:hover {
      color: white;
      text-decoration: none; }
  .site-footer ul.social-media-list li span {
    display: inline-block;
    margin-top: 1px; }
  .site-footer .footer-bottom {
    text-align: center; }
    .site-footer .footer-bottom .fine-print {
      font-size: smaller; }
    .site-footer .footer-bottom .finer-print {
      font-size: x-small; }

main .main-wrapper .content {
  padding-top: 30px;
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap; }
  main .main-wrapper .content .content-block {
    margin: 0 1vw;
    width: 100%; }
    main .main-wrapper .content .content-block p {
      text-align: justify; }
    main .main-wrapper .content .content-block h4 {
      text-align: center; }
    @media only screen and (max-width: 600px) {
      main .main-wrapper .content .content-block h4 {
        font-size: 1.5rem; } }
    @media only screen and (min-width: 600px) {
      main .main-wrapper .content .content-block h4 {
        font-size: 1.5rem; } }
    @media only screen and (min-width: 768px) {
      main .main-wrapper .content .content-block h4 {
        font-size: 1.5rem; } }
    @media only screen and (min-width: 1000px) {
      main .main-wrapper .content .content-block {
        width: 30%; }
        main .main-wrapper .content .content-block h4 {
          font-size: 1.875rem; } }

.page-content {
  padding: 0; }

html {
  width: 100%;
  margin: 0; }

body {
  background: #fce4ac;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  color: #553c15;
  font-weight: bold; }
  body .wrapper {
    padding: 0;
    margin: 0;
    max-width: 100%; }
    body .wrapper footer {
      z-index: 2;
      position: relative;
      background: #553c15;
      color: #553c15;
      padding: 2vh 4vw; }
