---
---
$font_color: #080808
$header_bg: rgb(171,205,239)
$footer_bg: #616100
$main_bg: #f5deb3
$nav_bg: #666666
$author_bg: rgba(227, 242, 243, .75)
$title_font: 'courier new', monospace
$body_font: 'courier new', monospace
$menu_font: 'Arial', 'Helvetica', sans-serif

html
  width: 100%
  margin: 0

header
  background-color: $header_bg

body
  background-color: $main_bg
  width: 100%
  margin: 0
  display: flex
  flex-flow: column nowrap
  color: $font_color
  font-weight: bold

footer
  order: 3
  background: $footer_bg
  color: $font_color
