---
---
@import fonts
@import colors
@import nav
@import header
@import footer
@import agreements
@import about

html
  width: 100%
  margin: 0

body
  background: $main_bg
  width: 100%
  margin: 0
  padding: 0
  display: flex
  flex-flow: column nowrap
  color: $font_color
  font-weight: bold
  .wrapper
    padding: 0
    margin: 0
    max-width: 100%
    footer
      z-index: 2
      position: relative
      background: $footer_bg
      color: $font_color
      padding: 2vh 4vw