<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <h1>NextGenCoop</h1>
        {% include ng-sunflower-development.svg %}
        <h2>Homegrown Software</h2>
        <p>Web applications, mobile apps, indie games.</p>
        <p>Training and mentoring for the tech industry.</p>
        <p>100% worker-owned business</p>
        <p></p>
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>