<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <section class="hero ">
          <video
            playsinline
            autoplay
            muted
            loop
            poster=""
            id="hero-vid"
            class="hero-vid">
            <source src="/assets/vid/sunlit-forest.webm" type="video/webm">
            <source src="/assets/vid/sunlit-forest.mp4" type="video/mp4">
          </video>
          <div class="hero-header">
            {% include ng-sunflower-development.svg %}
            <h1>NextGen Cooperative</h1>
          </div>
          <div class="hero-content">
            <div>
              <h2>Homegrown Software</h2>
              <p>NextGen specializes in web and mobile sites and applications, but there's not much we can't do. We don't reinvent the wheel; we utilize free open source technology and build upon the shoulders of the giants we already stand on. Give us your idea, and together we might make it a reality; and maybe build upon those shoulders a little in the process.</p>
            </div>
            <div>
              <h2>Learn Software Development</h2>
              <p>Hands on learning and doing, mentored by seasoned professionals already in the industry. We will meet you where you are if you're willing to learn, and want to offer help if you need a laptop to work on.</p>
            </div>
            <div>
              <h2>Bring It All Back</h2>
              <p>NextGen is a 100% worker owned business. There are no bosses or shareholders, and we'll train a ChatGPT bot to be the CEO because an AI has no reason to want a yacht. We are community driven and community oriented, and the bottom line doesn't matter except in the sense that it's raised, overall, for everybody involved. It'll be fun to fire an AI CEO in Discord at least.</p>
            </div>
          </div>
          {% include footer.html %}
        </section>
      </div>
    </main>

  </body>

</html>